html
	head
		METASIZE
	body
		form(method="post",enctype="multipart/form-data",action="/")
			p
				h1 METASIZE api - FreeCodeCamp
				h3 with perseverance by ZaiZai
				li I can submit a FormData object that includes a file upload.
				li User Story: When I submit something, I will receive the file size in bytes within the JSON response
			p
				input(type="file",name="upl")
			p
				input(type="submit")